---
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
        # - id: identity  # Prints all files passed to pre-commits. Debugging.
  - repo: https://github.com/lyz-code/yamlfix
    rev: 1.19.0
    hooks:
      - id: yamlfix
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=1300
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
        types:
          - text
      - id: forbid-submodules
      - id: mixed-line-ending
        args:
          - --fix=lf
        description: Forces to replace line ending by the UNIX 'lf' character.
      - id: name-tests-test
        args:
          - --pytest-test-first
        exclude: ^tests/test_models/
      - id: no-commit-to-branch
        args:
          - --branch
          - main
      - id: trailing-whitespace
      - id: check-ast
      - id: check-docstring-first
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      # Run the linter.
      - id: ruff
        types_or:
          - python
          - pyi
          - jupyter
        args:
          - --fix
      # Run the formatter.
      - id: ruff-format
        types_or:
          - python
          - pyi
          - jupyter
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-gfm
          - mdformat-gfm-alerts
          - mdformat-ruff
        args:
          - --wrap
          - '88'
        files: (README\.md)
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.2
    hooks:
      - id: nbstripout
        args:
          - --drop-empty-cells
          - --keep-output
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        files: src|tests
        additional_dependencies:
          - dags>=0.4.1
          - jax>=0.7
          - jaxtyping>=0.3.2
          - numpy
          - packaging
          - pandas-stubs
          - pytest
          - scipy-stubs
        args:
          - --config=pyproject.toml
ci:
  autoupdate_schedule: monthly
  skip:
    - mypy  # installing jax is not possible on pre-commit.ci due to size limits.
